<div class="container">
<h1>Posts</h1>
<div ng-controller="postsCtrl as posts">
<!--  Post Form -->
<form name="newPostForm" ng-submit="posts.create_post()">

  <!--  Post Form -->
  <h4>Submit a Post</h4>
  <fieldset class="form-group">
    <input ng-model="posts.new_post.title" type="test" class="form-control" placeholder="Your Title" title="Title" />
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="posts.new_post.content" class="form-control" placeholder="Your text here..." title="Content"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit Post" />
  </fieldset>

  <!--  Live Preview -->
  <blockquote ng-show="posts.new_post.title || posts.new_post.content">
    <h3>{{posts.new_post.title}}</h3>
    {{posts.new_post.content}}
  </blockquote>
</form>

<div ng-repeat="post in posts.post_list" >
  <blockquote ng-controler="clickToEditPostCtrl as edit_post">
    <div ng-hide="edit_post.editor_enabled">
      <h3>{{post.title}}
	<button class="glyphicon glyphicon-trash btn btn-default btn-sm" ng-click="posts.delete_post(post)"></button></h3>
      {{post.content}}
    </div>
  </blockquote> 
</div>
