/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$body-bg: #ffffd8;
$navbar-default-bg: #ff96ca;
$nav-link-hover-bg: #ff69b4;

$nav-link-color: #000000;
$nav-link-hover-color: #000000;
$color: #000000;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/theme";

textarea:focus, input:focus, .uneditable-input:focus {   
    border-color: rgba(255, 150, 202, 0.8) !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
    outline: 0 none !important;
}

.btn-primary {
    @include button-variant(black,#ff96ca,#ff69b4);
    background-image: none;
}